<!DOCTYPE html>
<html>
  <head>

    <title>Pragprog Books Online Store</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body id="store">

    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %><!-- <label id="code.depot.e.title"/> -->
    </div>
    <div id="columns">
      <div id="side">
        <%= link_to 'Home', store_path %><br />
        <%= link_to 'My Cart', carts_path %><br />
        <%= link_to 'Github' , 'https://github.com/bishwahang/depot' %><br />
        <%= link_to 'Contact', 'https://github.com/bishwahang' %><br />
      </div>
      <div id="main">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield %>  <!-- <label id="code.depot.e.include"/> -->
        <!-- <%= render 'layouts/footer' %> -->
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>

  </body>
</html>
